.header-container {
  background-color: #cda47a;
  height: 104px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 36px;
  color: #ffffff;
}

.image-container {
  background-color: #fefae3;
}

.text-container {
  background-color: #ced4b2;
}

.info-container {
  background-color: #eaeccd;
}

.footer {
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  color: #ffffff;
  font-size: 36px;
  margin: 24px;
}