.header {
  font-size: 36px;
  color: #ffffff;
}

.header-container {
  background-color: #cda47a;
  height: 104px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  background-color: #fefae3;
}

.text-container {
  background-color: #ced4b2;
}

.info-container {
  background-color: #eaeccd;
}
